/* Reset CSS bawaan agar bersih total dan cerah */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #F3F4F6; /* Menyamakan warna latar belakang abu cerah */
}